img {
    width: 150px;
    height: 150px;
}

.Summary-ItemName {
    position: relative;
    left: 1%;
    transform: translate(-50%, -50%);
}

.Summary-HarvestCount {
    left: 20%;
    transform: translate(-50%, -50%);
}